@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  ::selection {
    background-color: #C4A962;
    color: #0F1E35;
  }

  ::-moz-selection {
    background-color: #C4A962;
    color: #0F1E35;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
